* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

table {
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #355C7D;
    font-weight: 600;
    font-style: italic;
}

header {
    width: 100%;
}

body {
    background-color: #F8B195;
}

th {
    background-color: #F67280;
    font-weight: 600;
    font-style: italic;
}

td {
    border: solid 1px #6C5B7B;
    padding: 4px;
    max-width: 800px;
}

.code {
    font-family: monospace, serif;
    background-color: #C06C84;
}
